<!DOCTYPE html>
<html lang="en">
  <%-include('partials/dashboard_header')%>
  <body>
    <div
      class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header"
    >
      <%-include('partials/navbar')%>
      <%-include('partials/settings')%>
      <div class="app-main">
        <%-include('partials/sidebar')%>
        <div class="app-main__outer">
          <div class="app-main__inner">
            
            <div class="row">
              <div class="col-md-12">
                <div class="main-card mb-3 card">
                  <div class="card-header">
                    Incoming Messages
                    <!-- <div class="btn-actions-pane-right">
                      <div role="group" class="btn-group-sm btn-group">
                        <button class="active btn btn-focus">Last Week</button>
                        <button class="btn btn-focus">All Month</button>
                      </div>
                    </div> -->
                  </div>
                  <div class="table-responsive">
                    <form action="/complete" method="post">
                        <table
                        class="align-middle mb-0 table table-borderless table-striped table-hover"
                      >
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>Message</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <%  messages.map((message) => { %>
                              <tr>
                                 <td><%= message.id %></td> 
                                <td><%= message.message %></td>
                                <td><a><%= message.location %></a></td>
                                <td><%= message.date %></td>
                                 <td> 
                                  <a class="btn btn-success edit" href="">Pending</a>                       
                                  <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="">Complete</a>                       
  
                              </td>
                              </tr>
                              
                           <% }) %>
                        </tbody>
                      </table>
                    </form>
                    
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          <%-include('partials/footer')%>
        </div>
        <!-- <script src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
      </div>
    </div>
   
  </body>
</html>
